<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Analisis</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="contenido">
		<div class="card shadow mb-4 mx-auto" style="width: 50rem;">
			<div class="card-header py-3">
				<div class="row">
					<div class="col">
						<h1 class="h3 mb-2 text-gray-800" th:text="'Editar '+${analisis.nombre}"></h1>
					</div>
				</div>
			</div>
			<div class="card-body">
				<p>Por favor rellene todos los campos.</p>
				<p th:if="${error != null}" th:text="${error}"></p>
				<form th:action="@{/analisis/edit}" method="POST">
					<input type="hidden" name="id" th:value="${analisis.id}">
					<input th:value="${analisis.nombre}" type="text" name="nombre" placeholder="Nombre" class="form-control mb-1" />
					<select name="os" class="form-control mb-1">
						<option selected disabled>Seleccione su Obra Social</option>
						<option th:each="opc : ${list}" th:value="${opc.id}" th:text="${opc.nombre}"></option>
					</select>
					<input th:value="${analisis.unidadBioquimica}" type="number" name="ub" placeholder="Unidad Bioquimica" class="form-control mb-1" />
					<select name="preparativo" class="form-control mb-1">
						<option selected disabled>Seleccionar Preparativo</option>
						<option th:each="opc : ${preparativos}" th:value="${opc.id}" th:text="${opc.nombre}"></option>
					</select>
					<button class="btn btn-primary" type="submit">Guardar</button>
					<button class="btn btn-secondary" type="reset">Restablecer</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>