<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Analisis</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="contenido">
		<div class="card shadow mb-4 mx-auto" style="width: 50rem;">
			<div class="card-header py-3">
				<div class="row">
					<div class="col">
						<h1 class="h3 mb-2 text-gray-800">Editar Preparativo</h1>
					</div>
				</div>
			</div>
			<div class="card-body">
				<p>Por favor rellene todos los campos.</p>
				<p th:if="${error != null}" th:text="${error}"></p>
				<form th:action="@{/admin/preparativos/saveeditt}" method="POST">
					<input type="hidden" name="id" th:value="${prepa.id}" placeholder="Nombre" class="form-control mb-1">
					<input type="text" name="nombre" th:value="${prepa.nombre}" placeholder="Nombre" class="form-control mb-1">
					<input type="text" name="instruccion" th:value="${prepa.instruccion}" placeholder="Instruccion (link a archivo o texto)" class="form-control mb-1">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>