<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Inicio - labOnline</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="contenido">
		<h1 class="h3 mb-2 text-gray-800">Panel de Control</h1>

		<div class="row">

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-s font-weight-bold text-primary text-uppercase mb-1">Obras Sociales</div>
								<a th:href="@{/obrasocial}" class="button btn btn-outline-primary btn-sm">Administrar</a>
								<!--<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>-->
							</div>
							<div class="col-auto">
								<i class="fas fa-calendar fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-s font-weight-bold text-success text-uppercase mb-1">Analisis</div>
								<a th:href="@{/analisis}" class="button btn btn-outline-success btn-sm">Administrar</a>
							</div>
							<div class="col-auto">
								<i class="fas fa-calendar fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-info shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-s font-weight-bold text-info text-uppercase mb-1">Ordenes Medicas</div>
								<a th:href="@{/ordenmedica}" class="button btn btn-outline-info btn-sm">Administrar</a>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-s font-weight-bold text-warning text-uppercase mb-1">Usuarios</div>
								<a th:href="@{/usuario/mostrar}" class="button btn btn-outline-warning btn-sm">Administrar</a>
							</div>
							<div class="col-auto">
								<i class="fas fa-comments fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Area Chart -->
			<div class="col-xl-8 col-lg-7">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Capita Obras Sociales</h6>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
								<div class="dropdown-header">Menu:</div>
								<a class="dropdown-item" href="#">Accion</a>
								<a class="dropdown-item" href="#">Otra accion</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Alguna accion mas</a>
							</div>
						</div>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-area">
							<canvas id="myAreaChart"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- Pie Chart -->
			<div class="col-xl-4 col-lg-5">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Ordenes Medicas</h6>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
								<div class="dropdown-header">Menu:</div>
								<a class="dropdown-item" href="#">Accion</a>
								<a class="dropdown-item" href="#">Otra accion</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Alguna accion mas</a>
							</div>
						</div>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-pie pt-4 pb-2">
							<canvas id="myPieChart"></canvas>
						</div>
						<div class="mt-4 text-center small">
							<span class="mr-2">
								<i class="fas fa-circle text-primary"></i>
								Federada Salud
							</span>
							<span class="mr-2">
								<i class="fas fa-circle text-success"></i>
								CannaLabs420
							</span>
							<span class="mr-2">
								<i class="fas fa-circle text-info"></i>
								Favaloro Corazon
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>