<div th:fragment="topbar" th:remove="tag">
	<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
			<i class="fa fa-bars"></i>
		</button>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown no-arrow">
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="mr-2 d-none d-lg-inline text-gray-600 small"
					th:text="${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido}"></span></span>
					 <img class="img-profile rounded-circle" th:src="${'/foto/usuario/' + session.usuariosession.id}"> 
				</a>
				<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
					<a class="dropdown-item" th:href="@{/usuario/mostrar}">
						<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
						Perfil
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
						<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
						Salir
					</a>
				</div>
			</li>
		</ul>
	</nav>
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">¿Cerrar Sesion?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Selecione "Salir" si realmente desea cerrar la sesión.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<form method="POST" th:action="@{/logout}">
						<a class="btn btn-primary" href="#" onclick="this.parentNode.submit();">Salir</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>