<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ordenes Medicas</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="contenido">
		<div class="card shadow mb-4 mx-auto" style="width: 50rem;">
			<div class="card-header py-3">
				<div class="row">
					<div class="col">
						<h1 class="h3 mb-2 text-gray-800">Editar Orden Medica</h1>
					</div>
				</div>
			</div>
			<div class="card-body">
				<p>Por favor rellene todos los campos.</p>
				<p th:if="${error != null}" th:text="${error}"></p>
				<form th:action="@{/ordenmedica/save-edit}" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="id" th:value="${om.id}">
					<input type="hidden" name="usuario" th:value="${session.usuariosession.id}">
					<select name="analisis" id="analisis" class="form-control mb-1 selectpicker" multiple>
						<option disabled>Seleccioas Analisis</option>
						<option th:each="opc : ${analisis}" th:value="${opc.id}" th:text="${opc.nombre}"></option>
					</select>
					<select name="obrasocial" id="os" class="form-control mb-1 selectpicker" multiple>
						<option disabled>Seleccionar Obra Social</option>
						<option th:each="opc : ${obraSociales}" th:value="${opc.id}" th:text="${opc.nombre}"></option>
					</select>
					<div class="form-group row">
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input type="date" class="form-control mb-1" id="fechaorden" name="fechaOrden" placeholder="Fecha Orden" th:value="${om.fechaOrden}">
						</div>
						<div class="col-sm-6">
							<div class="input-group mb-3">
								<label class="input-group-text" for="imagen">Foto</label>
								<input type="file" class="form-control" id="imagen" name="foto">
							</div>
						</div>
					</div>
					<button class="btn btn-primary" type="submit">Guardar</button>
					<button class="btn btn-secondary" type="reset">Restablecer</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>